<div class="container-fluid fill">
  <nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<a class="navbar-brand" href="#">
    <p class="brand"><strong>LN</strong></p>
  </a>
  <div id="navbar5" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><em>| Lewis Nyoike</em></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/blogs" target="_blank">Blog</a></li>
    </ul>
  </div>
</div>
</nav>
  <img src="https://images.pexels.com/photos/116021/pexels-photo-116021.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">

</div>

<div class="container about">
  <h2>About</h2>
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?<br>
    He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when...
    <br>You know why, David? Because of the kids. They called me Mr Glass.</p>
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?<br>
    He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when...
    <br>You know why, David? Because of the kids. They called me Mr Glass.</p>
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?<br>
    He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when...
    <br>You know why, David? Because of the kids. They called me Mr Glass.</p>
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?<br>
    He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when...
    <br>You know why, David? Because of the kids. They called me Mr Glass.</p>
</div>

<div class="container-fluid quote">
<div class="parallax">
  <p>Cupcakes are Muffins that </p>
  <p>beleived in miracles</p>
  <p>~Luey</p>
</div>
</div>

<div class="container-fluid">
  <div class="skills">
    <h2>Skills</h2>
    <% if @skills.any?%>
    <ul>
      <% @skills.each do |skill| %>
        <button type="button" class="btn btn-info" id='descriptionShow'><%= skill.name %></li></button>
    <div class="row description">
      <div class="col-md-4">
        <li><%= skill.description %>
      </div>
    </div>
    <% end %>
  </ul>
  <% else %>
  <p>No skills yet</p>
  <% end %>
  </div>
</div>
<h1>Skills you have</h1>
