/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  .brand {
    font-style: normal;
    font-size: 38px;
  }
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.start {
  /* The image used */
  background-image: url("lewis.jpg");
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  /* Full height */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 80px;
  padding-bottom: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  .mwanzo {
    color: white;

    #jina {
      display: none;
      text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    }

    #dina {
      display: none;
      text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    }
  }
}

.about {
  h2 {
    text-align: center;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
  }
  #greet{
    display: none;
    font-size: 40px;
  }
  #con{
    display: none;
    font-size: 20px;
    font-family: sans-serif;
    font-style: oblique;
  }
  background-color: #c4c5ce;
}

.quote {
  text-align: center;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .parallax {
    /* The image used */
    background-image: url('https://images.pexels.com/photos/116021/pexels-photo-116021.jpeg?h=350&auto=compress&cs=tinysrgb');
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* Full height */
    padding-top: 80px;
    padding-bottom: 80px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

#headline {
  text-align: center;
}

#lewis {
  font-style: oblique;
  font-family: sans-serif;
  text-align: center;
}

#button {
  width: 85%;
  padding: 44px;
  font-size: 21px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: #a87800;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description1 {
  display: none;
}

.button2:hover {
  background-color: #4353ad;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description2 {
  display: none;
}

.button3:hover {
  background-color: #8e1401;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description3 {
  display: none;
}

.button4:hover {
  background-color: #808e00;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description4 {
  display: none;
}

.button5:hover {
  background-color: #1cb599;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description5 {
  display: none;
}

.button6:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description6 {
  display: none;
}

.button7:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description7 {
  display: none;
}

.button8:hover {
  background-color: #8c7e71;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description8 {
  display: none;
}

.button9:hover {
  background-color: #75d615;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description9 {
  display: none;
}

.button10:hover {
  background-color: #6b3baa;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description10 {
  display: none;
}

.button11:hover {
  background-color: #560768;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.description11 {
  display: none;
}

#nyoike {
  text-align: center;
}

#iphone {
  text-align: center;
}
@import url(//fonts.googleapis.com/css?family=Lato:400,900);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.info-card {
  float: left;
  margin: 10px;
  -webkit-perspective: 600px;
}

.back,
.front {
  border-radius: 10px;
  transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.front {
  overflow: hidden;
  width: 300px;
  height: 250px;
  position: absolute;
  z-index: 1;
}

.back {
  padding: 0 20px 20px;
  width: 300px;
  height: 250px;
  -webkit-transform: rotateY(-180deg);
}

.info-card:hover .back {
  -webkit-transform: rotateY(0);
}

.info-card:hover .front {
  -webkit-transform: rotateY(180deg);
}

.card-image {
  width: 100%;
  height: 100%;
}
.projects {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white;

  .projectz:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.pits {
  background-color: #e8eaed;
}

.contact {
  text-align: center;
  /* The image used */
  background-image: url('https://www.hdwallpapers.org/download/firewatch-game-artwork-2560x1440.jpg');
  flex-shrink: 0;
  min-width: 80%;
  min-height: 100%;
  /* Full height */
  padding-top: 40px;
  padding-bottom: 20px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  #fom {
    text-align: center;
    font-size: 37px;
    color: black;
    font-style: italic;
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 50px;
  }
  #ph:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 53px;
    height: 53px;
  }
  #mail:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 53px;
    height: 53px;
  }
#ig:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 53px;
  height: 53px;
}
#link:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 53px;
  height: 53px;
}
#gi:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 53px;
  height: 53px;
}
}

.footer {
  text-align: center;
  color: grey;
  font-style: oblique;
}
